# Ignore all files in the root directory
/*

# Unignore specific files in the root directory
!/.gitignore
!/hub_anarchyville.vmf

# Unignore specific folders in the root directory
!/refs/*

!/refs/dralloc_exterior.vmf
!/refs/fpixie_exterior.vmf
!/refs/mexc_exterior.vmf
!/refs/oke_exterior.vmf
!/refs/pux_exterior.vmf
!/refs/sith_exterior.vmf
!/refs/xaph_exterior.vmf
!/refs/zombie_exterior.vmf